extends layout
  
block content
  h1 Reset password
  p Enter the email address associated with your account.
  p= message
  .row
    .col-4.col-offset-4
      form(role='form', action='/password/reset', method='post')
        .form-group
            label(for='email') Email
            input#email.form-control(type='email', name='email', placeholder='Enter email')
          button.btn.btn-default(type='submit') Reset my password
