extends layouts/default
  
block content
  h1 Sign In
  p Welcome back.
  
  .row
    .col-4.col-offset-4
      form(role='form', action='signin', method='post')
        .form-group
          if(error && error.message)
            ul.errorlist
              li The username and password you specified are not valid.
          label(for='email') Email
          if(error && error.email === '')
            ul.errorlist
              li Required field.
          input#email.form-control(type='email', name='email', placeholder='Enter email.', value=error ? error.email : '')
        .form-group
          label(for='password') Password
          if(error && error.password === '')
            ul.errorlist
              li Required field.
          input#password.form-control(type='password', name='password', placeholder='Password')
        button.btn.btn-default(type='submit') Submit
        input(type='hidden', name='_csrf', value="#{csrftoken}")
      p
        | Not registered yet?  
        a(href='signup') Register now 
        | to get started
      p
        | Forgot your password? 
        a(href='password/reset') Reset it
