extends layouts/default
  
block content
  h1 Sign Up
  p Enter your details to get started.
    .row
      .col-4.col-offset-4
        form(role='form', action='signup', method='post')
          .form-group
            label(for='name') Name
            input#name.form-control(type='name', name='name', placeholder='Enter name', required, value=user.name)
          .form-group
            label(for='email') Email
            input#email.form-control(type='email', name='email', placeholder='Enter email', required, value=user.email)
          .form-group
            label(for='password') Password
            input#password.form-control(type='password', name='password', placeholder='Password', required)
          //- .form-group
          //-   label(for='passwordRepeat') Password (again)
          //-   input#passwordRepeat.form-control(type='password', name='passwordRepeat', placeholder='Password', required)
          .form-group
            label(for='organisationName') Organisation Name
            input#organisationName.form-control(type='text', name='organisationName', placeholder='Organisation Name', required)

          button.btn.btn-default(type='submit') Submit
          input(type='hidden', name='_csrf', value="#{csrftoken}")